<p>
<strong>Nombre:</strong>Juan Carlos Choque Quispe
</p>
<p>
<strong>Perfil</strong><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAK5AAAAJGIwNGNiOWVjLTMwZDMtNDk4MC1iODJkLTlmMmJkNzI4MjlhYQ.jpg" width="150">
</p>